/* /* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@font-face {
  font-family: "myriad-pro-italic";
  src: local("myriad-pro-italic"),
    url(./fonts/myriad-pro-italic.otf) format("opentype");
}
/* .listy {
margin: 10px, 0px !important;
background-color: blue;
} */
.shopifyFont {
  font-family: myriad-pro-italic;
  font-size: 1.75rem;
  font-weight: bold;
}
.detail {
  margin-top: 1%;
  min-height: 10%;
}
.shopifyDetailFont {
  font-family: myriad-pro-italic;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.shopifyFont {
  font-family: myriad-pro-italic;
  color: #024c3e;
}
.detCat {
  font-size: 0.75rem;
}

.sub-size {
  font-size: 1.5rem;
}

.light-color {
  color: #faf7ed;
}

.light-color-bg {
  background-color: #faf7ed;
}

.dark-color {
  color: #024c3e;
}
/* #overlay-example {
  background-color: #024c3e;
  color:  #024c3e; 
  font-family: myriad-pro-italic;

} */
#overlay-example > .tooltip-inner {
  font-family: myriad-pro-italic;
  background-color: #024c3e;
}
.hideMe {
  visibility: hidden;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
  right: 0;
  border-width: .4rem .4rem .4rem 0;
  border-right-color: #024c3e !important;
}
.tooltip .arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}
.jumbotron {
  background-color: #faf7ed !important;
}
.suggestionsList.status.listy.list-group {
  margin: 5px 0px;
  padding: 0 2%;
}
.nomList.status.listy.list-group {
  margin: 5px 0px;
  padding: 0 1.75%;
}
.status {
  border-radius: 0.3rem;
  background-color: #faf7ed !important;
}
.nomDetWrapper {
  margin-bottom: 2%;
}
.logo-font {
  font-family: myriad-pro-italic;
  font-size: 2em;
  color: #faf7ed;
  font-weight: bold;
  text-decoration: none !important;
}
.help-font {
  font-family: myriad-pro-italic;
  font-size: 1em;
  color: #024c3e;
  font-weight: bold;
}
.icon {
  font-size: 1.5rem;
}
.nomList {
  max-height: 300px;
  margin-bottom: 100px;
  /* overflow:scroll; */
  -webkit-overflow-scrolling: touch;
}
.nomImage {
  max-height: 250px;
}

.suggestionsList {
  max-height: 300px;
  margin-bottom: 100px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.centerTxt {
  margin: 0 auto;
}

#root {
  background-color: #024c3e;
  min-height: 100vh;
  height: 100%;
}

html {
  background-color: #024c3e;
  min-height: 100vh;
  height: 100%;
}
/* .colDet {
  margin-left: 55%;
} */

body {
  background-color: #008060;
  height: 100%;
  padding: 0;
}

.btn-primary {
  color: #fff;
  background-color: #024c3e !important;
  border-color: #024c3e !important;
  margin: 2% !important;
}

p {
  /* margin-top: 5%; */
  /* margin-bottom: 1rem; */
  margin: 2%;
}
.toastTop {
  font-size: 2rem;
  font-weight: bold;
  font-family: myriad-pro-italic;
  color: #024c3e;
  background-color: #faf7ed !important;
}

.toastText {
  font-size: 2rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  width: 100%;
}

body.modal-open {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  height: 100%;
}
.icon-background {
  color: #c0ffc0;
}
.circle-icon {
  background: #ffc0c0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 30px;
}
/* .modal-open {
  overflow: hidden;

} */
/* class="align-middle" */
.fa-circle {
  color: red;
}
.fa-copy {
  color: white;
}
/* .magictime {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
} */

.reel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.fadez-in {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadez-out {
  animation: fadeOutAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modalHeaderFooter {
  background: #faf7ed !important;
}

.modalBodyTitle {
  background: white !important;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.button-1-14 {
  height: 100% !important;
}
